{% extends "layouts/base.html" %}
{% block content %}
<h1 class="text-center">Liste des gagnants</h1>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">@mail</th>
          <th scope="col">date de pari</th>
          <th scope="col">Montant gagner</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>KABORE</td>
          <td>OUSSEINI</td>
          <td>oumssekabore2@gmail.com</td>
          <td>02-08-2019</td>
          <td>30000 fca</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Taha</td>
          <td>Innocent</td>
          <td>tahainnocent@gmail.com</td>
          <td>02-08-2019</td>
          <td>0 fcfa</td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mobio</td>
          <td>Ruth</td>
          <td>02-08-2019</td>
          <td>mobioruth@gmail.com</td>
          <td>2000 fca</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock %} 