{% extends 'layouts/base.html' %}
{% block content %}
 <div class="container">
     <div class="row">
         <div class="col-md-6">
                <a href="{%  url 'football'  %}"><img src="../static/img/Football_banner-product.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>
          </div>
         <div class="col-md-6">
                <a href="{%  url 'volleyball' %}"><img src="../static/img/Volleyball-banner.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>
         </div>
     </div>
     <div class="row">
        <div class="col-md-6">
            <a href="{%  url 'rugby' %}"><img src="../static/img/Rugby-banner.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>
        </div>    
        <div class="col-md-6">
            <a href="{%  url 'petanque' %}"><img src="../static/img/Petanque-banner.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>
        </div> 
     </div>
     <div class="row">
         <div class="col-md-6">
              <a href="{%  url 'materiel' %}"><img src="../static/img/Materiel-banner.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>
         </div>
        <div class="col-md-6">
              <a href="{%  url 'handball' %}"><img src="../static/img/Handball-banner.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>     
        </div>
     </div>
     <div class="row">
        <div class="col-md-6">
                <a href="{%  url 'running' %}"><img src="../static/img/Running-banner-product.jpg" width="100%" class="img-thumbnail" height="100%" title="Cliquer et parier" alt=""></a>
        </div>
        <div class="col-md-6">
            <a href="{%  url 'fitness' %}"><img src="../static/img/Fitness-banner-product.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>
        </div>
     </div>
     <div class="row">
        <div class="col-md-6">
             <a href="{%  url 'cyclisme' %}"><img src="../static/img/Cyclisme-banner.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>
        </div>
        <div class="col-md-6">
             <a href="{%  url 'basketball' %}"><img src="../static/img/Basketball-banner.jpg" width="100%" height="100%" class="img-thumbnail" title="Cliquer et parier" alt=""></a>
        </div>
     </div>
 </div>

{% endblock %} 
