{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container">
         <h1 class="text-center">Cyclisme</h1>
         <div class="row">
             <div class="col-md-2">
                <img src="../../static/img/cycl1.jpg" style="width: 200px;height:600px" class="img-thumbnail" title="Cliquer et parier" alt="">
               <br>
               <h1 class="text-center">1</h1> 
            </div>
             <div class="col-md-2">
                <img src="../../static/img/cycl2.jpg" style="width: 200px;height:600px" class="img-thumbnail" title="Cliquer et parier" alt="">
                <br>
                <h1 class="text-center">2</h1> 
            </div>
             <div class="col-md-2">
                <img src="../../static/img/cycl3.jpg" style="width: 200px;height:600px" class="img-thumbnail" title="Cliquer et parier" alt="">
                <br>
                <h1 class="text-center">3</h1> 
            </div>
             <div class="col-md-2">
                <img src="../../static/img/cycl4.jpg" style="width: 200px;height:600px" class="img-thumbnail" title="Cliquer et parier" alt="">
                <br>
                <h1 class="text-center">4</h1> 
            </div>
             <div class="col-md-4">
                    <form method="post" class="col-md-6 col-md-offset-3 card">
                        {% csrf_token %}
                        {% for field in form %}
                           <div class="form-group">
                              <label for="{{ field.id_for_label }}"  class="control-label">{{ field.html_name }}</label>
                              {{field}}
                           </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                     </form> 
                </div>
         </div>
         <hr>
</div>
{% endblock %}      